<?xml version="1.0" encoding="utf-8"?>
<!-- 
* Copyright 2013-2015 EMC Corporation.  All rights reserved.
 -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="emc.captiva.mobile.sdksampleapp">

    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.light" android:required="false"/>
    <!-- The capitalization of the permission values is intentional and follows the Android docs -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:theme="@style/revaTheme"
        android:name="emc.captiva.mobile.sdksampleapp.Dagger.Revaapplication"
        android:screenOrientation="portrait">
        <activity
            android:name="emc.captiva.mobile.sdksampleapp.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/revaThemeLaunchScreen"
            android:screenOrientation="portrait">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="emc.captiva.mobile.sdksampleapp.MainActivity"
            android:theme="@style/revaTheme"
            android:screenOrientation="portrait">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="emc.captiva.mobile.sdksampleapp.EnhanceImageActivity"
            android:label="@string/EnhanceImage_Title"
            android:theme="@style/enhanceActivityTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="emc.captiva.mobile.sdksampleapp.EnhanceImageCropActivity"
            android:label="@string/EnhanceImageCrop_Title">
        </activity>
        <activity
            android:name="emc.captiva.mobile.sdk.QuadrilateralCropActivity"
            android:label="@string/EnhanceImageQuadCrop_Title">
        </activity>
        <activity
            android:name="emc.captiva.mobile.sdk.CameraActivity">
        </activity>
        <activity
            android:name="emc.captiva.mobile.sdksampleapp.ImageInfoActivity"
            android:label="@string/ImageInfo_Title">
        </activity>
        <activity
            android:name="emc.captiva.mobile.sdksampleapp.SettingsActivity"
            android:label="@string/MainPage_Settings">
        </activity>
        <activity
            android:name="emc.captiva.mobile.sdksampleapp.CreateFilterProfileActivity"
            android:label="@string/MainPage_CreateFilterProfile"
            android:windowSoftInputMode="stateHidden">
        </activity>
    </application>
</manifest>
